@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    margin: 20px;
    /* Ajout d'une marge de 20px */
    padding: 20px;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    font-size: 32px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 40px;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    color: #2f2929;
    text-align: center;
    margin-bottom: 10px;
}

#client-select {
    margin-bottom: 20px;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.client-image {
    width: 80%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.client-image:hover {
    transform: scale(1.05);
}

.global-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    /* Ajout d'une marge de 20px */
}

.chart {
    margin-bottom: 50px;
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 1300px;
}

.results {
    margin-bottom: 50px;
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 2000px;
}


.first-chart-container {
    width: 100%;
    max-width: 800px;
    height: 600px;
    margin-bottom: 20px;
    /* Ajout d'une marge de 20px */
}

.presentation {
    text-align: center;
    margin-bottom: 10px;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: #fff;
}

.chart-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

canvas {
    width: 100%;
    height: 100%;
}

.images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.presentation p {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    overflow-wrap: break-word;
}

.presentation.long-text p {
    max-height: 200px;
    overflow-y: auto;
}

.chart-hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* Ajout des couleurs */

body {
    color: #333;
}

h1 {
    color: #1c1c1c;
}

h3 {
    color: #2f2929;
}

#client-select {
    background-color: #f9f9f9;
    color: #666;
}

.client-image {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-container,
.first-chart-container {
    border-color: #ccc;
}

.chart-title {
    color: #1c1c1c;
}

.images-container {
    margin-bottom: 30px;
}

.presentation p {
    color: #555;
}